---
layout: page
title: Affiliate Academy 
header: Affiliate Academy
group: navigation
weight: 3
hide_header: true
---
{% include JB/setup %}

<div class="custom-jumbotron" style="background-image: url('../assets/images/station.jpeg');">
	<div class="custom-jumbotron-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Blueprint {{ page.title }}</h2>
					<p class="lead">
						Sell our academies to your customers, as if their were your own
					</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" style="background-color:#f7f7f7;">
	<div class="container featurette">
		<div class="row">
			<div class="col-md-5">
				<p class="pre-header">Full control</p>
				<h3>You are in the driver's seat</h3>
				<p>With Blueprint Affiliate Academy you are in complete control of your customer's e-learning solution. Blueprint allows you to create, modify, and continually manage your clients e-learning services. You can create packages for standard solutions or customize the individual web space to your customers' needs.</p>
				<h5>Focus on delivering value - we handle the IT</h5>
				<p>Your customers have you as a contact throughout the process and we ensure that your service scales effortless as you grow. Give your customers a e-learning experience with a Blueprint Affiliate Academy.</p>
				<br>
				<br>
			</div>
			<div class="col-md-7 text-center">
				<img src="../assets/images/frontpage.png" alt="">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container featurette">
		<div class="row ">
			<div class="col-md-12 text-center">
				<h2>Blueprint Benefits</h2>
				<p class="lead text-muted">Digitize your learning experience</p>
				<br>
				<br>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						
						{% for feature in site.data.features %}
							<div class="col-sm-6">
								<div class="media">
								  <div class="media-left">
								    <i class="fa fa-fw fa-lg color-complement fa-{{ feature.icon }}"></i>
								  </div>
								  <div class="media-body">
								    <p><strong>{{ feature.title }}</strong></p>
								    {{ feature.content }}
								  </div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-primary">
	<div class="container featurette">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="no-margin-top">Start your online academy today</h3><br>
				<a href="{{ BASE_PATH}}/schedule_demo.html" class="btn btn-complement btn-lg">Schedule a demo</a>
			</div>
		</div>
	</div>
</div>