---
layout: page
title: Internal Academy 
header: Internal Academy
group: navigation
weight: 2
hide_header: true
---
{% include JB/setup %}

<div class="custom-jumbotron" style="background-image: url('../assets/images/notebook.jpeg');">
	<div class="custom-jumbotron-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Blueprint {{ page.title }}</h2>
					<p class="lead">
						Internal training and qualification of employees
					</p>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" style="background-color:#f7f7f7;">
	<div class="container featurette">
		<div class="row">
			<div class="col-md-5">
				<p class="pre-header">A unified learning experience</p>
				<h3>Get everyone on the same page</h3>
				<p>Who are we as a company, what do we believe in, and how do we do things? Those are the questions which are important for everyone in an organization to understand and e-learning is a great way to communicate those messages and get everyone on the same page.</p>
				<h5>Reach your full potential</h5>
				<p>Internal training and qualification is associated with employee performance and retention. Employees may not reach their full potential and higher levels of productivity unless their are adequately trained.</p>
				<h5>The grand overview</h5>
				<p>Blueprint Internal Academy lets you see exactly how far employees are with their training and let them know if their are reaching the end of a deadline. See the progress of a specifc employee or across an entire course.</p>
				<br>
				<br>
			</div>
			<div class="col-md-7 text-center">
				<img src="../assets/images/admin.png" class="img-rounded img-shadow" alt="">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container featurette">
		<div class="row ">
			<div class="col-md-12 text-center">
				<h2>Blueprint Benefits</h2>
				<p class="lead text-muted">Digitize your learning experience</p>
				<br>
				<br>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						
						{% for feature in site.data.features %}
							<div class="col-sm-6">
								<div class="media">
								  <div class="media-left">
								    <i class="fa fa-fw fa-lg color-complement fa-{{ feature.icon }}"></i>
								  </div>
								  <div class="media-body">
								    <p><strong>{{ feature.title }}</strong></p>
								    {{ feature.content }}
								  </div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-primary">
	<div class="container featurette">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="no-margin-top">Start your online academy today</h3><br>
				<a href="{{ BASE_PATH}}/schedule_demo.html" class="btn btn-complement btn-lg">Schedule a demo</a>
			</div>
		</div>
	</div>
</div>